<main class="pt-20 text-white bg-gray-900 min-h-screen relative overflow-hidden grid-bg z-10">


  <!-- Heading -->
  <div class="mb-8 text-center">
  <h1 class="text-3xl md:text-7xl font-extrabold text-white">
    Hi, I'm
    <span class="typing-text text-blue-400 whitespace-nowrap">Nikhil Malave</span>
  </h1>
  <p class="mt-8 text-lg md:text-2xl text-gray-400">
    Full Stack Developer | MERN | MEAN | Java | Open Source Enthusiast
  </p>
</div>

    <div class="flex justify-center mb-8">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/CQXGMwLwGSE?si=r7IU2NzECKKMpwcE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

  <!-- Buttons -->
  <div class="flex justify-center gap-10">
  <!-- Resume Button -->
  <a href="https://drive.google.com/file/d/1oe-Dny29LP0RK-JgpwieMuabVlqap5nL/view" target="_blank"
     class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-8 py-4 rounded-lg flex items-center gap-2.5 transition text-xl">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v2a2 2 0 002 2h12a2 2 0 002-2v-2M7 10l5 5m0 0l5-5m-5 5V4"/>
    </svg>
    Resume
  </a>

  <!-- Contact Button -->
  <a href="#contact"
     class="bg-green-600 hover:bg-green-700 text-white font-semibold px-8 py-4 rounded-lg transition text-xl">
    Contact Me
  </a>
</div>

</main>

