<nav class="sticky top-0 z-50 bg-gray-800 text-white shadow-md">
  <div class="flex justify-between items-center p-4">
    <!-- Logo -->
    <div class="ml-4 text-2xl font-bold">
      <a routerLink="/">NM</a>
    </div>

    <!-- Links -->
<ul class="flex space-x-8 font-semibold">
  <li><a href="#home">Home</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#projects">Projects</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>


    <!-- Icons -->
    <div class="flex space-x-4 mr-4">
      <a href="https://www.linkedin.com/in/YOUR_USERNAME" target="_blank">
        <img src="assets/linkedin.svg" class="w-6 h-6" />
      </a>
      <a href="https://github.com/YOUR_USERNAME" target="_blank">
        <img src="assets/github.svg" class="w-6 h-6" />
      </a>
      <a href="https://www.instagram.com/YOUR_USERNAME" target="_blank">
        <img src="assets/instagram.svg" class="w-6 h-6" />
      </a>
    </div>
  </div>
</nav>
