<nav class="sticky top-0 z-50 bg-gray-800 text-white shadow-md">
  <div class="flex justify-between items-center p-4">

    <!-- Logo -->
    <div class="ml-4 text-2xl font-bold text-orange-500">
      <a href="#home">NM</a>
    </div>

    <!-- Links -->
  <ul class="flex space-x-8 font-semibold" id="nav-links">
  <li>
<a href="#home" class="nav-link inline-block transform transition-transform duration-200 hover:scale-110 hover:text-orange-400 transition-colors duration-200">Home</a>

  </li>
  <li>
    <a href="#about" class="nav-link inline-block transform transition-transform duration-200 hover:scale-110 hover:text-orange-400 transition-colors duration-200">About</a>
  </li>
  <li>
    <a href="#projects" class="nav-link inline-block transform transition-transform duration-200 hover:scale-110 hover:text-orange-400 transition-colors duration-200">Projects</a>
  </li>
  <li>
    <a href="#contact" class="nav-link inline-block transform transition-transform duration-200 hover:scale-110 hover:text-orange-400 transition-colors duration-200">Contact</a>
  </li>
</ul>




    <!-- Icons -->
    <div class="flex space-x-4 mr-4">
      <a href="https://www.linkedin.com/in/nikhil-malave-02200b25a/" target="_blank">
        <img src="assets/linkedIn.webp" class="w-6 h-6 hover:scale-110 transition-transform" />
      </a>
      <a href="https://github.com/Nikhil-4102" target="_blank">
        <img src="assets/github.webp" class="w-6 h-6 hover:scale-110 transition-transform" />
      </a>
      <a href="https://www.instagram.com/nikhil_malave04/" target="_blank">
        <img src="assets/instagram.webp" class="w-6 h-6 hover:scale-110 transition-transform" />
      </a>
    </div>
  </div>
</nav>
